:root {
  --blue: #2dc2f1;
  --dark-blue: #051630;
  --white: #fff;
}

* {
    margin: 2px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

main {
    display: flex;
    /* width: 80%; */
    justify-content: center;
}

.left {
    background-color: var(--dark-blue);
    color: var(--white);
    padding: 20px;
    min-width: 55%;
}
.right {
    max-width: 55%;
}

img {
    width: 45%;
    height: 45%;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 30px;
}